.container{
    width: 33.3%;
}
.container >.imgContainer{
    height: 285px
}
.container >.imgContainer > img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.container > h3{
    
}
.container > h2{
    
}
.container > p{
    
}