.card{
    display:flex;
    flex-direction: column;
    width: 25%;
}
.cardTopContainer{
    background-position: center;
    background-size: cover;
    height: 70%;
    width: 100%;
    background-repeat: no-repeat;
    display: flex;
    height: 400px;
    justify-content: center;
}
.cardHeading{
    font-size: larger;
    font-family: cursive;
    font-weight: 700;
}
.cardBottomContainer{
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 18px 0;
}
.cardBottomContainer > button{
    width: fit-content;
    /* display: flex; */
    padding: 10px 20px;
    border-radius: 11px;
    border: 1px solid black;
    background: transparent;
}
.cardDescription{
    font-size: larger;
    text-align: center;
    padding: 0 8px;
    font-style: italic;
}
 /* media Query setup */
@media screen and (min-width: 1200px) {
    
}
@media screen and (max-width: 1200px) {
    
}
@media screen and (max-width: 1024px) {
   
}
@media screen and (max-width: 768px) {
    .card{
        display:flex;
        flex-direction: column;
        width: 50%;
    }
}
@media screen and (max-width: 480px) {
    
}
@media screen and (max-width: 320px) {
    .card{
        display:flex;
        flex-direction: column;
        width: 100%;
    }
}