._card {
    width: 33.3%;
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.imgContainer {
    padding: 12px 20px;
}

.imgContainer>img {
    width: 100%;
    border-radius: 12px;
}

._contentContainer {
    width: 70%;
}

._contentHeading {
    font-size: x-large;
    font-family: cursive;
    font-weight: 800;
}

._content {}
/* media Query setup */
@media screen and (min-width: 1200px) {
    ._card {
        width: 33.3%;
    }
}
@media screen and (max-width: 1200px) {
    ._card {
        width: 33.3%;
    }
}
@media screen and (max-width: 1024px) {
    ._card {
        width: 49.3%;
    }
}
@media screen and (max-width: 768px) {
    ._card {
        width: 100%;
    }
}
@media screen and (max-width: 480px) {
    ._card {
        /* width: 100%; */
    }
}
@media screen and (max-width: 320px) {
    ._card {
        /* width: 49.3%; */
    }
}