.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
     width: 50%;
    font-size: larger;
    text-align: center;
}
.subContainer > .content{

}

.startFreeBtnContainer{
    display: flex;
}
.startFreeBtnContainer > button{
    border-radius: 15px;
    padding: 15px;
    padding: 10px 15px;
    outline: none;
}

.startFreeBtnContainer > button:hover{
    border: 3px solid black;
    border-top: 2px solid black;
    cursor: pointer;
}
 /* media Query setup */
 @media screen and (min-width: 1200px) {
    
 }
 @media screen and (max-width: 1200px) {
     
 }
 @media screen and (max-width: 1024px) {
    
 }
 @media screen and (max-width: 768px) {
    .subContainer_{
        width: 70%;
    }

 }
 @media screen and (max-width: 480px) {
    .subContainer_{
        width: 90%;
    }
 }
 @media screen and (max-width: 320px) {
    .subContainer_{
        width: 100%;
    }
 }